.App {
  text-align: center;
  background-image: url('https://cocolab.mx/assets/experiences/teotihuacan_nocturno_15.jpg');
  background-repeat: round;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: #d9d9d9;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

::placeholder {
  color: white;
  font-weight: lighter;
  font-size: 1.15vmax;
}